<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
</head>

<body>
    <header>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>        
        </li><span>&emsp;</span>
        <li class="nav-item">
            <a class="nav-link" href="/create">Create a Recipe</a>
        </li><span>&emsp;</span>
        <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
        </li>
    </header>
