<%- include("partials/header.ejs") %>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<main>
    <h1> About the Fantastic Recipes Blog </h1>

    <p> </p>

    <pre>Welcome to the Fantastic Recipes Blog!  This is a Website dedicated to sharing quality recipes from and dedicated to our readers.  Have you ever 
looked for something homemade and delicious to make your family for dinner?  Did you ever make a dinner that 'knocked the socks off' your family 
and wanted to share it with the World?   If you've answered "Yes" to either of these questions, this blog is for YOU!  

Your introduction to being a recognized online chef begins on our 'Create Recipe' page.  Be sure to include important details like the ingredients
as well as directions on how to make your masterpiece!  You'll also have the option to either edit your recipe later on with improvements or delete 
it altogether from the home page.  

If you just want to dive into one of your peers' recipes click on the link on the home page and get started.  We hope this Website will provide you 
with the peace of mind knowing that other families have enjoyed what you are about to make.  

Happy Cooking!

Bill Hubert
Blog Creater and Amateur Chef
    </pre>
</main>

<%- include("partials/footer.ejs") %>